<div class="edit-configuration-template-dialog">
  <div mat-dialog-content>
    <div class="box file-metadata" fxLayout="column" fxLayoutAlign="start space-between" fxLayoutGap="8px">
      <mat-form-field class="box">
        <input matInput [(ngModel)]="filename" [placeholder]="'general.name' | translate" required #templateName="ngModel"
               [forbiddenValues]="getIllegalTemplateNamesFor(model)" (change)="checkValidNames()"/>
        <mat-error *ngIf="templateName.invalid && templateName.errors.forbiddenValues">{{'components.templateEditor.editConfigurationTemplateDialog.nameAlreadyInUse' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field class="box">
        <input matInput [(ngModel)]="description" [placeholder]="'general.description' | translate"/>
      </mat-form-field>

    </div>

    <button mat-button [disabled]="!valid" (click)="close()">{{'general.ok' | translate}}</button>
  </div>
</div>
