<div class="defined-namespaces table-page main-content-padding" fxLayout="column">
  <h2 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
    <mat-icon svgIcon="dns"></mat-icon>
    <span>{{'views.namespaces.namespaces' | translate}}</span>
  </h2>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button *ngIf="mayCreateDefinedNamespace()" mat-button (click)="createDefinedNamespace()">
      <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
        <mat-icon svgIcon="mdi:cat"></mat-icon>
        <span>{{'components.namespace.createNamespace' | translate}}</span>
      </span>
    </button>
    <span *ngIf="!mayCreateDefinedNamespace()" class="place-holder"></span>
    <mat-paginator [length]="definedNamespaces.length"
                   [pageSize]="pageSettings.pageSize"
                   [pageSizeOptions]="pageSettings.pageSizeOptions"
                   (page)="paginationEvent($event)"></mat-paginator>
  </div>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      <tr *ngFor="let namespace of sortedDefinedNamespaces">
        <td>{{namespace.name}}</td>
        <td>
          <div fxLayout="row" fxLayoutAlign="end center">
            <button *ngIf="mayDeleteDefinedNamespace()" mat-icon-button (click)="deleteDefinedNamespace(namespace)" [matTooltip]="'general.delete' | translate">
              <mat-icon svgIcon="mdi:delete"></mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </table>
</div>

