@use '@angular/material' as mat;
@import "src/styles/mixins";

@mixin timeout-with-ui-component-theme($theme) {
  $primary: map-get($theme, primary);
  timeout-with-ui {
    .progress-container {
      mat-icon {
        color: mat.get-color-from-palette($primary, 500);
      }
    }
  }
}
