<div class="main-content-padding me" *ngIf="me" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4em">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <div class="portrait-container" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon svgIcon="mdi:account"></mat-icon>
    </div>
    <div fxLayout="row" fxLayoutGap="0.4em" fxLayoutAlign="center center">
      <div class="username">{{me.displayName()}}</div>
      <button mat-icon-button mat-raised-button (click)="editAccount()" matTooltip="Edit">
        <mat-icon svgIcon="mdi:account-edit"></mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.username' | translate }}:</strong>
      <span>{{me.username}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.email' | translate }}:</strong>
      <span>{{me.email}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.firstName' | translate }}:</strong>
      <span>{{me.firstName}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.lastName' | translate }}:</strong>
      <span>{{me.lastName}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.role' | translate }}:</strong>
      <span>{{me.role}}</span>
    </div>
  </div>
  <div>
    <button mat-button color="warn" (click)="deleteAccount()">{{ 'components.user.me.deleteAccount' | translate }}</button>
  </div>
</div>
