<div class="main-content-padding me" *ngIf="me" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4em">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <div class="portrait-container" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon svgIcon="mdi:account"></mat-icon>
    </div>
    <div fxLayout="row" fxLayoutGap="0.4em" fxLayoutAlign="center center">
      <div class="username">{{me.displayName()}}</div>
      <button mat-icon-button mat-raised-button (click)="editAccount()" matTooltip="Edit">
        <mat-icon svgIcon="mdi:account-edit"></mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.username' | translate }}:</strong>
      <span>{{me.username}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.email' | translate }}:</strong>
      <span>{{me.email}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.firstName' | translate }}:</strong>
      <span>{{me.firstName}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.lastName' | translate }}:</strong>
      <span>{{me.lastName}}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <strong>{{'components.user.me.role' | translate }}:</strong>
      <span>{{me.role}}</span>
    </div>
  </div>

  <!-- API Tokens Section -->
  <div class="api-tokens-section" fxLayout="column" fxLayoutGap="1em" style="width: 100%; max-width: 700px;">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h3>{{ 'components.user.me.apiTokens.title' | translate }}</h3>
      <button mat-raised-button color="primary" (click)="createApiToken()">
        <mat-icon svgIcon="mdi:plus"></mat-icon>
        {{ 'components.user.me.apiTokens.create' | translate }}
      </button>
    </div>

    <div *ngIf="apiTokens.length === 0" class="no-tokens">
      {{ 'components.user.me.apiTokens.noTokens' | translate }}
    </div>

    <table *ngIf="apiTokens.length > 0" style="width: 100%;">
      <thead>
        <tr>
          <th>{{ 'components.user.me.apiTokens.columnName' | translate }}</th>
          <th>{{ 'components.user.me.apiTokens.columnCreated' | translate }}</th>
          <th>{{ 'components.user.me.apiTokens.columnExpires' | translate }}</th>
          <th>{{ 'components.user.me.apiTokens.columnLastUsed' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let token of apiTokens">
          <td>{{token.name}}</td>
          <td>{{token.createdAt | date:'medium'}}</td>
          <td>
            <span *ngIf="token.expiresAt">{{token.expiresAt | date:'medium'}}</span>
            <span *ngIf="!token.expiresAt">{{ 'components.user.me.apiTokens.never' | translate }}</span>
          </td>
          <td>
            <span *ngIf="token.lastUsedAt">{{token.lastUsedAt | date:'medium'}}</span>
            <span *ngIf="!token.lastUsedAt">{{ 'components.user.me.apiTokens.neverUsed' | translate }}</span>
          </td>
          <td>
            <button mat-icon-button color="warn" (click)="deleteApiToken(token)"
                    matTooltip="{{ 'components.user.me.apiTokens.delete' | translate }}">
              <mat-icon svgIcon="mdi:delete"></mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <button mat-button color="warn" (click)="deleteAccount()">{{ 'components.user.me.deleteAccount' | translate }}</button>
  </div>
</div>
