@import "src/styles/mixins";

.me {
  .username {
    font-size: 1.4em;
    font-weight: 500;
  }
  .portrait-container {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    mat-icon {
      @include mat-icon-size(96px);
    }
  }
}
