@import "../../../mixins";

.me {
  .username {
    font-size: 1.4em;
    font-weight: 500;
  }
  .portrait-container {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: mat-color($o-neko-primary, 100);
    mat-icon {
      @include mat-icon-size(96px);
      color: white;
    }
  }
}
