<div class="project-edit-dialog create-dialog">
  <h1 mat-dialog-title *ngIf="!showImport">{{ 'components.project.createProjectDialog.createNewProject' | translate }}</h1>
  <h1 mat-dialog-title *ngIf="showImport">{{ 'components.project.createProjectDialog.importProject' | translate }}</h1>
  <div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <ng-template matStepperIcon="import" let-index="index" *ngIf="showImport">
        {{index + 1 }}
      </ng-template>
      <ng-template matStepperIcon="edit" let-index="index">
        {{index + 1 }}
      </ng-template>
      <ng-template matStepperIcon="done" let-index="index">
        {{index + 1}}
      </ng-template>
      <ng-template matStepperIcon="number" let-index="index">
        {{index + 1}}
      </ng-template>
      <mat-step [stepControl]="projectImportFormGroup" *ngIf="showImport">
        <ng-template matStepLabel>{{ 'components.project.createProjectDialog.importProjectConfigurationFile' | translate }}</ng-template>
        <div [innerHTML]="'components.project.createProjectDialog.importProjectDescription' | translate"></div>
        <file-upload  *ngIf="!projectExport"
                      [multiple]="false"
                      (filesCallback)="onProjectExportUpload($event)"
                      displayType="dnd"
                      accept=".json"
                      [label]="'components.project.createProjectDialog.fileUploadLabel' | translate"></file-upload>
        <div *ngIf="projectExport">
          <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
            <mat-icon svgIcon="check"></mat-icon>
            <span>{{ 'components.project.createProjectDialog.uploadSuccessful' | translate }}</span>
          </p>
          <div [innerHTML]="'components.project.createProjectDialog.importCompleteDescription' | translate: {count: projectExport.defaultConfigurationTemplates.length}"></div>
        </div>
        <div>
          <button mat-button matStepperNext>{{ 'components.project.createProjectDialog.next' | translate }}</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="projectNameFormGroup">
        <form [formGroup]="projectNameFormGroup">
          <ng-template matStepLabel>{{ 'components.project.createProjectDialog.enterProjectNameLabel' | translate }}</ng-template>
          <div [innerHTML]="'components.project.createProjectDialog.enterProjectNameDescription' | translate"></div>
          <mat-form-field>
            <input matInput [placeholder]="'components.project.createProjectDialog.projectName' | translate" required formControlName="nameCtrl" >
          </mat-form-field>
          <figure *ngIf="getCollidingProjectName()" class="warning">
            <figcaption>{{ 'general.warning' | translate }}</figcaption>
            <p>{{ 'components.project.createProjectDialog.collidingProjectNameMessage' | translate: {name: getCollidingProjectName()} }}</p>
          </figure>
          <div>
            <button mat-button matStepperPrevious *ngIf="showImport">{{'components.project.createProjectDialog.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'components.project.createProjectDialog.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="dockerRegistryFormGroup">
        <form [formGroup]="dockerRegistryFormGroup">
          <ng-template matStepLabel>{{ 'components.project.createProjectDialog.selectDockerRegistry' | translate }}</ng-template>
          <p>{{ 'components.project.createProjectDialog.selectDockerRegistryDescription' | translate }}</p>
          <mat-form-field>
            <mat-label>{{ 'components.project.createProjectDialog.dockerRegistry' | translate }}</mat-label>
            <mat-select required formControlName="registryUuidCtrl">
              <mat-option *ngFor="let dockerRegistry of dockerRegistries" [value]="dockerRegistry.uuid">
                {{ dockerRegistry.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{'components.project.createProjectDialog.back' | translate}}</button>
            <button mat-button matStepperNext>{{ 'components.project.createProjectDialog.next' | translate }}</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="imageNameFormGroup">
        <form [formGroup]="imageNameFormGroup">
          <ng-template matStepLabel>{{ 'components.project.createProjectDialog.enterProjectImageName' | translate }}</ng-template>
          <p>{{ 'components.project.createProjectDialog.enterProjectImageNameDescription' | translate }}</p>
          <mat-form-field>
            <input matInput placeholder="Image name" required formControlName="imageNameCtrl" >
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{'components.project.createProjectDialog.back' | translate}}</button>
            <button mat-button [disabled]="!imageNameFormGroup.valid" (click)="finish()">{{ 'general.done' | translate }}</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
