@use '@angular/material' as mat;
@import '../../../styles/mixins';

@mixin global-search-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $shadowColor: mat.get-color-from-palette($foreground, elevation);

  on-global-search {
    .search {
      .global-search-container {
        background-color: mat.get-color-from-palette($background, background);
        border: 1px solid mat.get-color-from-palette($foreground, divider);
        &.open {
          box-shadow: 0 4px 6px 6px rgba($shadowColor, 10%);
        }
      }

      .search-result-box {
        box-shadow: 0 4px 6px 0 rgba($shadowColor, 10%), 0 12px 12px 0 rgba($shadowColor, 20%);
        background-color: mat.get-color-from-palette($background, app-bar);
        border: 1px solid mat.get-color-from-palette($foreground, divider);
        border-top: none;

        .search-hint {
          color: mat.get-color-from-palette($foreground, secondary-text);
          mat-icon {
            color: mat.get-color-from-palette($primary, 400);
          }
        }
        .list-container {
          background-color: mat.get-color-from-palette($background, background);
        }
      }

      input {
        color: mat.get-color-from-palette($foreground, text);
        &::placeholder {
          color: mat.get-color-from-palette($foreground, secondary-text);
        }
      }
    }
    .search-backdrop {
      transition: background-color ease-in-out 0.125s;
      &.search-backdrop-active {
        background-color: rgba(black, 0.3);
      }
    }
  }
}
