@import "src/styles/mixins";

.template-variables {
  width: 100%;

  .template-variables-list {
    width: 30%;
  }

  .template-variable-editor {
    width: 100%;
  }

  .custom-variables-header {
    padding: 10px;

    .add-button {
      width: 100%;
    }
  }
}
