@import "src/styles/mixins";

.template-variables {
  width: 100%;

  .template-variables-list {
    width: 30%;
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    .selected {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  .template-variable-editor {
    width: 100%;
  }

  .custom-variables-header {
    padding: 10px;

    .add-button {
      width: 100%;
    }
  }
}
