@use '@angular/material' as mat;
@import "src/styles/mixins";
@import "src/styles/component-themes";

$o-neko-primary: mat.define-palette($pink-palette);
$o-neko-accent: mat.define-palette($old-yellow);
$o-neko-warn: mat.define-palette($red-palette);

$o-neko-light-theme: mat.define-light-theme($o-neko-primary, $o-neko-accent, $o-neko-warn);

@include mat.all-legacy-component-themes($o-neko-light-theme);
@include component-themes($o-neko-light-theme);
