<mat-toolbar fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em">
  <button *ngIf="!isDesktop" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <div fxFlex *ngIf="!isDesktop"></div>
  <on-theme-switcher></on-theme-switcher>
  <mat-divider [vertical]="true"></mat-divider>
  <button mat-button routerLinkActive="active" [matMenuTriggerFor]="userMenu">
    <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.3em">
      <mat-icon svgIcon="mdi:account"></mat-icon>
      <span>{{(user | async)?.username}}</span>
    </span>
    <mat-menu [overlapTrigger]="false" #userMenu="matMenu">
      <a mat-menu-item routerLink="/me">
        <mat-icon svgIcon="mdi:account-edit"></mat-icon>
        <span>Account</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon svgIcon="mdi:logout-variant"></mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </button>
</mat-toolbar>
