@import "../../mixins";

:host {
  position: sticky;
  z-index: 5;
  top: 0;
}

mat-toolbar {
  box-shadow: 0 10px 30px 0 rgba(105, 63, 71, 0.14);
  min-height: 3.4rem;

  &.mat-toolbar-single-row {
    height: initial;
  }

  button.user-button {
    height: 3rem;
  }

  mat-divider {
    height: 2em;
  }
}
