@import "src/styles/mixins";

:host {
  position: sticky;
  z-index: 5;
  top: 0;
}

mat-toolbar {
  min-height: 3.4rem;

  &.mat-toolbar-single-row {
    height: initial;
  }

  button.user-button {
    height: 3rem;
  }

  mat-divider {
    height: 2em;
  }
}
