<div class="create-namespace-dialog">
  <h1 mat-dialog-title>{{'components.namespace.createDialog.define' | translate}}</h1>
  <div mat-dialog-content="">
    <div>
      <p [innerHTML]="'components.namespace.createDialog.description' | translate"></p>
    </div>
    <div>
      <form fxLayout="column" #namespaceForm="ngForm" fxLayoutGap="1em">
        <div fxLayout="row" fxLayoutGap="1em">
          <mat-form-field>
            <span matPrefix>{{ NAMESPACE_PREFIX }}</span>
            <input type="text" matInput [(ngModel)]="namespace.name" autocomplete="off" required name="name" id="name"
                   placeholder="Name" #name="ngModel" pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?" maxlength="63">
            <mat-error *ngIf="name.invalid && name.errors.required">{{'components.forms.errors.fieldIsRequired' | translate}}</mat-error>
            <mat-error *ngIf="name.invalid && name.errors.pattern">{{'components.namespace.createDialog.errorPattern' | translate}}</mat-error>
            <mat-error *ngIf="name.invalid && name.errors.maxlength">{{'components.namespace.createDialog.errorMaxLength' | translate}}</mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="space-between center">
    <button mat-button [disabled]="namespaceForm.form.invalid" color="primary" (click)="save()">{{'general.save' | translate}}</button>
    <button mat-button (click)="cancel()">{{'general.cancel' | translate}}</button>
  </div>
</div>
