@import 'src/styles/mixins';

@mixin active-mat-list-item($primary) {
  mat-icon:not(.expansion-indicator) {
    color: mat-color($primary, 500);
  }
  mat-icon.expansion-indicator {
    color: rgba(white, 0.98);
  }
  color: rgba(white, 0.98);
}

@mixin main-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  on-main {
    .mat-sidenav {
      background-color: desaturate(darken(mat-color($primary, 900), 28%), 60%);

      on-expandable-menu, mat-nav-list.menu-nav-list {
        mat-icon {
          color: rgba(mat-color($primary, 500), 0.4);
        }

        .mat-line {
          font-weight: 500 !important;
        }

        .mat-list-item {
          color: rgba(white, 0.44);

          &:hover {
            @include active-mat-list-item($primary);
            background-color: rgba(white, 0.06);
          }

          &.active, &:active {
            @include active-mat-list-item($primary);
          }

          .mat-ripple-element {
            background-color: rgba(white, 0.04);
          }
        }
      }

      mat-toolbar {
        background: gradient(mat-color($primary, 900), mat-color($primary, 500));
        color: rgba(white, 0.94);
        cursor: pointer;
      }
    }

    main {
      h2, h3 {
        mat-icon {
          color: mat-color($accent, 700);
        }
      }
    }
  }
}
