# Default settings
spring:
  application:
    name: O-Neko
  codec:
    max-in-memory-size: 10MB
logging:
  file:
    path: logs
  level:
    io.oneko: debug
o-neko:
  activity:
    cleanup:
      maxAgeHours: 720
      schedulerIntervalMillis: 3600000
  deployments:
    lifetime:
      endOfDay:
        hour: 23
        minute: 59
        onNextDay: false
      lastDayOfTheWeek: friday

springdoc:
  swagger-ui:
    path: "/documentation/swagger-ui.html"
    doc-expansion: none
    tags-sorter: alpha
    operations-sorter: alpha

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  metrics:
    tags:
      application: ${spring.application.name}
---
# Development profile
spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/o-neko?
      autoIndexCreation: true
  config:
    activate:
      on-profile: development

logging:
  file:
    path: logs
  level:
    io.oneko: trace

o-neko:
  security:
    credentialsCoderKey: VJxDYI6zT9gLLfY9MyDGf2nxQ8mY7DcECxTDqKIV

kubernetes:
  auth:
    token:
  server:
    url:
