<breadcrumbs *ngIf="project" [breadcrumbs]="[{label: ('menu.home' | translate), link: ''}, {label: ('menu.projectManagement.projects' | translate), link: '/projects'}, {label: project.name}]"></breadcrumbs>
<div class="main-content-padding" *ngIf="project">
  <div class="title full-page-width" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <mat-icon svgIcon="edit"></mat-icon>
      <span>{{ 'components.project.editProject.editProject' | translate }}</span>
    </h2>
    <button mat-button
            routerLinkActive="active"
            [routerLink]="'/projects/' + project?.uuid + '/versions'"
            color="primary">
      <mat-icon svgIcon="view-list"></mat-icon>
      {{ 'components.project.editProject.showVersions' | translate }}
    </button>
  </div>
  <div class="edit-project full-page-form" fxLayout="column">
    <div class="content">
      <div>
        <form fxLayout="column" #projectForm="ngForm" fxLayoutGap="1em">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="project.name" autocomplete="off" required name="projectname" id="projectname"
                   [placeholder]="'components.project.editProject.projectName' | translate" #projectname="ngModel" [disabled]="!mayEditProjects()">
            <mat-error *ngIf="projectname.invalid && projectname.errors.required">{{ 'components.project.editProject.projectNameIsRequired' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="project.imageName" autocomplete="off" required name="imagename" id="imagename"
                   [placeholder]="'components.project.editProject.imageName' | translate" #imagename="ngModel" [disabled]="!project.isOrphan() || !mayEditProjects()">
            <mat-error *ngIf="imagename.invalid && imagename.errors.required">{{ 'components.project.editProject.imageNameIsRequired' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select #dockerregistry="ngModel" required [placeholder]="'components.project.editProject.dockerRegistry' | translate" [(ngModel)]="project.dockerRegistryUUID" name="dockerregistry" id="dockerregistry" [disabled]="!project.isOrphan() || !mayEditProjects()">
              <mat-option *ngFor="let dockerRegistry of dockerRegistries" [value]="dockerRegistry.uuid">
                {{ dockerRegistry.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dockerregistry.invalid && dockerregistry.errors.required">{{ 'components.project.editProject.dockerRegistryIsRequired' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select required [placeholder]="'components.project.editProject.namespaceInKubernetes' | translate" name="namespace" id="namespace" [(ngModel)]="project.namespace">
              <mat-option *ngFor="let namespace of namespaces" [value]="namespace.name">{{namespace.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="form-field-group">
            <template-editor [templates]="project.defaultConfigurationTemplates"
                             (templatesChange)="onDefaultConfigurationTemplateChange($event)"
                             (templatesValid)="onTemplatesValidationChange($event)"
                             [label]="'components.project.editProject.configurationTemplates' | translate"
                             [readonly]="!mayEditProjects()">
            </template-editor>
          </div>

          <div class="form-field-group">
            <div class="template-defaults-wrapper" fxLayout="column">
              <h4>{{ 'components.project.editProject.templateVariables' | translate }}</h4>
              <template-variables [readonly]="!mayEditProjects()"
                                  [customTemplateVariables]="project.templateVariables"
                                  (onAddTemplateVariable)="onAddTemplateVariable($event)"
                                  (onDeleteTemplateVariable)="onDeleteTemplateVariable($event)"></template-variables>
            </div>
          </div>

          <deployment-behaviour-input [model]="newVersionsDeploymentBehaviourAccess"[required]="true" [readonly]="!mayEditProjects()"></deployment-behaviour-input>

          <lifetime-behaviour-input [model]="project.defaultLifetimeBehaviour" [name]="'components.project.editProject.defaultLifetimeBehaviour' | translate"></lifetime-behaviour-input>

        </form>
      </div>
    </div>
    <div class="bottom-toolbar" fxLayout="row" fxLayoutAlign="space-around center">
      <button *ngIf="mayEditProjects()"
              mat-button
              [disabled]="projectForm.form.invalid || !templatesValid || !mayEditProjects()"
              color="primary"
              (click)="save()">
        {{ 'components.project.editProject.saveProject' | translate }}
      </button>
      <button mat-button
              [disabled]="projectForm.form.invalid || !templatesValid"
              color="primary"
        (click)="exportProject()">
        {{ 'components.project.editProject.exportProject' | translate }}
      </button>
      <button mat-button
              [disabled]="!mayEditProjects()"
              color="primary"
              (click)="delete()">
        {{ 'components.project.editProject.deleteProject' | translate }}
      </button>
    </div>
  </div>
</div>
