<breadcrumbs *ngIf="project" [breadcrumbs]="[{label: 'home', link: ''}, {label: 'projects', link: '/projects'}, {label: project.name}]"></breadcrumbs>
<div class="main-content-padding" *ngIf="project">
  <div class="title full-page-width" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <mat-icon svgIcon="edit"></mat-icon>
      <span>Edit Project</span>
    </h2>
    <button mat-button
            routerLinkActive="active"
            [routerLink]="'/projects/' + project?.uuid + '/versions'"
            color="primary">
      <mat-icon svgIcon="view-list"></mat-icon>
      Show Versions
    </button>
  </div>
  <div class="edit-project full-page-form" fxLayout="column">
    <div class="content">
      <div>
        <form fxLayout="column" #projectForm="ngForm" fxLayoutGap="1em">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="project.name" autocomplete="off" required name="projectname" id="projectname"
                   placeholder="Project name" #projectname="ngModel" [disabled]="!mayEditProjects()">
            <mat-error *ngIf="projectname.invalid && projectname.errors.required">A project name is required.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="project.imageName" autocomplete="off" required name="imagename" id="imagename"
                   placeholder="Image name" #imagename="ngModel" [disabled]="!project.isOrphan() || !mayEditProjects()">
            <mat-error *ngIf="imagename.invalid && imagename.errors.required">An image name is required.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select #dockerregistry="ngModel" required placeholder="Docker registry" [(ngModel)]="project.dockerRegistryUUID" name="dockerregistry" id="dockerregistry" [disabled]="!project.isOrphan() || !mayEditProjects()">
              <mat-option *ngFor="let dockerRegistry of dockerRegistries" [value]="dockerRegistry.uuid">
                {{ dockerRegistry.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dockerregistry.invalid && dockerregistry.errors.required">Each project must have a docker registry assigned.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select required placeholder="Namespace in Kubernetes" name="namespace" id="namespace" [(ngModel)]="project.namespace">
              <mat-option *ngFor="let namespace of namespaces" [value]="namespace.name">{{namespace.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="form-field-group">
            <template-editor [templates]="project.defaultConfigurationTemplates"
                             (templatesChange)="onDefaultConfigurationTemplateChange($event)"
                             (templatesValid)="onTemplatesValidationChange($event)"
                             label="Configuration Templates"
                             [readonly]="!mayEditProjects()">
            </template-editor>
          </div>

          <div class="form-field-group">
            <div class="template-defaults-wrapper" fxLayout="column">
              <h4>Template Variables</h4>
              <template-variables [readonly]="!mayEditProjects()"
                                  [customTemplateVariables]="project.templateVariables"
                                  (onAddTemplateVariable)="onAddTemplateVariable($event)"
                                  (onDeleteTemplateVariable)="onDeleteTemplateVariable($event)"></template-variables>
            </div>
          </div>

          <deployment-behaviour-input [model]="newVersionsDeploymentBehaviourAccess"[required]="true" [readonly]="!mayEditProjects()"></deployment-behaviour-input>

          <lifetime-behaviour-input [model]="project.defaultLifetimeBehaviour" name="Default lifetime behaviour"></lifetime-behaviour-input>

        </form>
      </div>
    </div>
    <div class="bottom-toolbar" fxLayout="row" fxLayoutAlign="space-around center">
      <button *ngIf="mayEditProjects()"
              mat-button
              [disabled]="projectForm.form.invalid || !templatesValid || !mayEditProjects()"
              color="primary"
              (click)="save()">
        Save Project
      </button>
      <button mat-button
              [disabled]="projectForm.form.invalid || !templatesValid"
              color="primary"
        (click)="exportProject()">
      Export Project
      </button>
      <button mat-button
              [disabled]="!mayEditProjects()"
              color="primary"
              (click)="delete()">
        Delete Project
      </button>
    </div>
  </div>
</div>
