<breadcrumbs *ngIf="projectMesh" [breadcrumbs]="[{label: 'home', link: ''}, {label: 'projects meshes', link: '/project-meshes'}, {label: projectMesh.name}]"></breadcrumbs>
<div class="edit-mesh main-content-padding full-page-form" *ngIf="projectMesh" fxLayout="column">
  <h1 class="title">{{'Edit Project Mesh'}}</h1>
  <div class="content">
    <div>
      <form fxLayout="column" #meshForm="ngForm" fxLayoutGap="1em">
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="projectMesh.name" autocomplete="off" required name="meshname" id="meshname"
                 placeholder="Project mesh name" #meshname="ngModel" [disabled]="!mayEditMeshes()">
          <mat-error *ngIf="meshname.invalid && meshname.errors.required">A name is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select required placeholder="Namespace in Kubernetes" name="namespace" id="namespace" [(ngModel)]="projectMesh.namespace" [compareWith]="compareNameSpaces">
            <mat-option [value]="projectMesh.implicitNamespace">{{projectMesh.implicitNamespace.name + ' (implicit namespace)'}}</mat-option>
            <mat-option *ngFor="let namespace of namespaces" [value]="namespace">{{namespace.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <deployment-behaviour-input [model]="projectMesh" [required]="true"></deployment-behaviour-input>

        <lifetime-behaviour-input [model]="projectMesh.lifetimeBehaviour"></lifetime-behaviour-input>

      </form>
    </div>
  </div>
  <div class="bottom-toolbar" fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-button
            [disabled]="meshForm.form.invalid || !mayEditMeshes()"
            color="primary"
            (click)="save()">
      Save Project Mesh
    </button>
    <button mat-button
            routerLinkActive="active"
            [routerLink]="'/project-meshes/' + projectMesh.id + '/components'"
            color="primary">
      Manage Components
    </button>
    <button mat-button
            [disabled]="!mayEditMeshes()"
            color="primary"
            (click)="delete()">
      Delete Project Mesh
    </button>
  </div>
</div>
