@use '~@angular/material' as mat;
@import "src/styles/mixins";

@mixin breadcrumb-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  breadcrumbs {
    .breadcrumb-list {
      background-color: mat.get-color-from-palette($foreground, text, 0.06);
    }
    .breadcrumb-item {
      color: mat.get-color-from-palette($foreground, text, 0.5);
      a {
        background-color: transparent;
      }
    }
  }
}
