@use '@angular/material' as mat;
@import "src/styles/mixins";
.project-version-list {
  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: $mat-radius;
    width: 100%;

    @include mat.elevation(6);

    tr {
      th {
        font-size: 0.85em;
        font-weight: 500;
        height: 4em;
        padding: 0 24px;
        .mat-sort-header-container {
          align-items: center;
          .mat-sort-header-indicator {
            margin-top: 1em;
          }
        }
      }
      td {
        padding: 0 24px;
        height: 48px;
      }
    }
  }
}
