version: 2.1
jobs:
  frontend:
    docker:
      - image: circleci/node:11
    steps:
      - checkout
      - restore_cache:
          key: oneko-npm-dependencies-{{ checksum "frontend/package.json" }}
      - run:
          name: Installing dependencies
          working_directory: ./frontend
          command: npm install
      - save_cache:
          key: oneko-npm-dependencies-{{ checksum "frontend/package.json" }}
          paths:
            - ./frontend/node_modules
      - run:
          name: Building the frontend
          working_directory: ./frontend
          command: npm run build
      - save_cache:
          key: oneko-frontend-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ./frontend/dist/

  backend:
    docker:
      - image: circleci/openjdk:11-stretch
    steps:
      - checkout
      - restore_cache:
          key: oneko-maven-dependencies-{{ checksum "pom.xml" }}
      - restore_cache:
          key: oneko-frontend-{{ .Environment.CIRCLE_SHA1 }}
      - run: mvn dependency:go-offline
      - save_cache:
          key: oneko-maven-dependencies-{{ checksum "pom.xml" }}
          paths: ~/.m2
      - run: mvn package
      - store_test_results:
          path: target/surefire-reports
      - run: mkdir ./circle-artifacts && cp ./target/o-neko*.jar ./circle-artifacts/
      - save_cache:
          key: oneko-artifacts-{{ .Environment.CIRCLE_SHA1 }}
          paths: ./circle-artifacts/
      - store_artifacts:
          path: ./circle-artifacts/

  dockerize_dev:
    docker:
      - image: docker:19
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          key: oneko-artifacts-{{ .Environment.CIRCLE_SHA1 }}
      - run: docker build --build-arg JAR_FILE=$(find ./circle-artifacts -type f -name '*.jar') -t subshellgmbh/o-neko:latest-dev .
      - run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run: docker push subshellgmbh/o-neko:latest-dev


workflows:
  version: 2
  build:
    jobs:
      - frontend
      - backend:
          requires:
            - frontend
      - dockerize_dev:
          requires:
            - backend
          #filter:
          #  branches:
          #    only: master