<div class="create-project-mesh-dialog create-dialog">
  <h1 mat-dialog-title>Create a new project mesh</h1>
  <div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <ng-template matStepperIcon="edit" let-index="index">
        {{index + 1 }}
      </ng-template>
      <ng-template matStepperIcon="done" let-index="index">
        {{index + 1}}
      </ng-template>
      <ng-template matStepperIcon="number" let-index="index">
        {{index + 1}}
      </ng-template>
      <mat-step [stepControl]="meshNameFormGroup">
        <form [formGroup]="meshNameFormGroup">
          <ng-template matStepLabel>Enter the new project meshes name</ng-template>
          <p>Enter a meaningful name for your new project mesh.</p>
          <p>The name can be chosen arbitrarily but should be distinguishable from the names of yet existing project meshes.</p>
          <mat-form-field>
            <input matInput placeholder="Mesh name" required formControlName="nameCtrl" >
          </mat-form-field>
          <figure *ngIf="getCollidingProjectMeshName()" class="warning">
            <figcaption>Warning</figcaption>
            <p>There is yet a mesh with the name {{getCollidingProjectMeshName()}}.</p>
          </figure>
          <div>
            <button mat-button [disabled]="!meshNameFormGroup.valid" (click)="finish()">Done</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
