@import "src/styles/mixins";

.project-dashboard {
  margin: 0 5px 45px;
}

.project-selection {
}

.projects-selected {

  .project-header {
    margin: 15px 0;
    background: gradient(rgba(mat-color($o-neko-primary, 700), 0.1), rgba(mat-color($o-neko-primary, 300), 0.1));
    border-top-right-radius: $mat-radius;
    border-top-left-radius: $mat-radius;

    border-bottom: 1px solid rgba(mat-color($o-neko-primary, 600), 0.2);

    .tool-container {
      background: gradient(mat-color($o-neko-primary, 700), mat-color($o-neko-primary, 300));
      border-top-right-radius: $mat-radius;
    }

    .settings-link {
      margin: 0 4px;
    }

    .versions-link {
      width: 100%;
    }

    .settings-link {
      color: white;
    }
  }

  div[mat-list-item] {
    > div {
      padding: 6px;
      border-radius: $mat-radius;

      &:hover {
        background: rgba(black, 0.06);
      }

      a {
        text-decoration: none;
        transition: background 0.05s ease;
        color: currentColor;

        p {
          color: rgba(black, 0.4);
        }
      }

      h4, p {
        margin: 0;
      }
    }
  }

  span[mat-list-item] {
    margin: 1em;
  }


}
