<div class="project-dashboard" fxLayout="column">
  <div class="project-selection" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field *ngIf="projects.length > 1">
      <mat-select [placeholder]="'components.project.projectDashboard.projects' | translate" multiple [(ngModel)]="currentlyShownProjects">
        <mat-option *ngFor="let project of projects" [value]="project.uuid">{{project.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="projects-selected">
    <mat-list dense>
      <ng-container *ngFor="let project of selectedProjects">
        <div class="project-header" fxLayout="row" fxLayoutAlign="start center">
          <a mat-subheader matRipple class="o-neko-internal-link versions-link" [routerLink]="'/projects/' + project.uuid + '/versions'">
            <mat-icon svgIcon="mdi:folder"></mat-icon>
            <span>{{project.name}}</span>
          </a>
          <div class="tool-container" fxLayout="row">
            <a mat-icon-button class="settings-link" [routerLink]="'/projects/' + project.uuid">
              <mat-icon svgIcon="mdi:tune"></mat-icon>
            </a>
          </div>
        </div>

        <div mat-list-item
             matRipple
             [matRippleTrigger]="rippleTrigger"
             *ngFor="let version of getDeployedVersionsOfProject(project); let lastVersion = last">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
            <deployableStatus [status]="version.deployment.status" [outdated]="version.outdated" matListIcon></deployableStatus>
            <a fxFlex #rippleTrigger [routerLink]="'/projects/' + project.uuid + '/versions/' + version.uuid">
              <h4 mat-line>{{version.name}}</h4>
              <p mat-line>
                <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                  <span *ngIf="version.deployment.timestamp" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px"><mat-icon svgIcon="mdi:kubernetes"></mat-icon><span>{{version.deployment.formattedTimestamp}}</span></span>
                  <span *ngIf="version.imageUpdatedDate" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px"><mat-icon svgIcon="mdi:docker"></mat-icon><span>{{version.formattedImageUpdatedDate}}</span></span>
                </span>
              </p>
            </a>
            <on-deployment-urls [version]="version"></on-deployment-urls>
            <button mat-icon-button class="logs-button" [routerLink]="'/projects/' + project.uuid + '/versions/' + version.uuid + '/logs'">
              <mat-icon svgIcon="mdi:text-long"></mat-icon>
            </button>
            <projectVersionActions [version]="version" [project]="project"></projectVersionActions>
          </div>
          <mat-divider *ngIf="!lastVersion"></mat-divider>
        </div>
        <span mat-list-item *ngIf="getDeployedVersionsOfProject(project).length === 0" [innerHTML]="'components.project.projectDashboard.projectHasNoDeployedVersions' | translate: {name: project.name}"></span>
      </ng-container>
    </mat-list>
  </div>
</div>

