@use '~@angular/material' as mat;
@import "src/styles/mixins";

@mixin project-dashboard-component-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  project-dashboard {
    .projects-selected {
      .project-header {
        background: gradient(rgba(mat.get-color-from-palette($primary, 800), 0.3), rgba(mat.get-color-from-palette($primary, 400), 0.3));
        border-bottom: 1px solid rgba(mat.get-color-from-palette($primary, 600), 0.4);
        .versions-link {
          color: mat.get-color-from-palette($foreground, text, 0.8);
          mat-icon {
           margin-right: 4px;
          }
        }

        .tool-container {
          background: gradient(mat.get-color-from-palette($primary, 700), mat.get-color-from-palette($primary, 300));
        }
        .settings-link {
          color: mat.get-contrast-color-from-palette($primary, 700);
        }
      }
      div[mat-list-item] {
        > div {
          &:hover {
            background: mat.get-color-from-palette($foreground, text, 0.06);
          }
          a {
            color: currentColor;
            p {
              color: mat.get-color-from-palette($foreground, text, 0.4);
            }
          }
        }
      }
    }
  }
}

