@use '@angular/material' as mat;
@import "src/styles/mixins";

@mixin deployable-actions-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  deployable-actions {
    .deployable-actions {
      button {
        &:not([disabled]) {
          color: mat.get-color-from-palette($foreground, text, 0.4);
          &.deploy-button {
            &:hover {
              color: mat.get-color-from-palette(mat.$blue-palette, 600);
            }
          }
          &.stop-button {
            &:hover {
              color: mat.get-color-from-palette(mat.$red-palette, 600);
            }
          }
        }
      }
    }

  }
}
