@import "src/styles/mixins";

.deployable-actions {
  &.hide-icons {
    mat-icon {
      display: none;
    }
  }
  &.hide-text {
    button {
      span > span {
        display: none;
      }
    }
  }
  button {
    min-height: 36px;
    min-width: 36px;
  }
}
