<div class="deployable-actions" fxLayout="row" fxLayoutGap="6px" [class.hide-text]="hideText" [class.hide-icons]="hideIcons">
  <button *ngIf="userHasPermissions"
          [disabled]="isDeployDisabled"
          class="deploy-button"
          mat-button
          [matTooltip]="(isDeployed ? 'components.deployableActions.reDeploy' : 'components.deployableActions.deploy') | translate"
          matTooltipShowDelay="500"
          (click)="deploy(); $event.stopPropagation()">
    <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
      <mat-icon svgIcon="mdi:play-circle"></mat-icon>
      <span *ngIf="!overrideDeployLabel?.length">{{ (isDeployed ? 'components.deployableActions.reDeploy' : 'components.deployableActions.deploy') | translate }}</span>
      <span *ngIf="overrideDeployLabel?.length">{{ overrideDeployLabel }}</span>
    </span>
  </button>

  <button *ngIf="userHasPermissions"
          [disabled]="isStopDisabled"
          class="stop-button"
          mat-button
          [matTooltip]="'components.deployableActions.stop' | translate"
          matTooltipShowDelay="500"
          (click)="stop(); $event.stopPropagation()">
    <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
      <mat-icon svgIcon="mdi:stop-circle"></mat-icon>
      <span *ngIf="!overrideStopLabel?.length">{{'components.deployableActions.stop' | translate}}</span>
      <span *ngIf="overrideStopLabel?.length">{{ overrideStopLabel }}</span>
    </span>
  </button>
</div>
