@import "src/styles/mixins";

form {
  mat-form-field {
    width: 100%;
  }

  .code-editor-wrapper {
    width: 100%;

    .code-editor {
      width: 100%;
      min-height: 200px;
      overflow: auto;
    }
  }

  .available-parameters-wrapper {
    width: 100%;
  }

}
