<div class="docker-registries table-page main-content-padding" fxLayout="column">
  <h2 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
    <mat-icon svgIcon="mdi:oci"></mat-icon>
    <span>{{'components.dockerRegistry.dockerRegistries' | translate}}</span>
  </h2>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button *ngIf="mayCreateDockerRegistry()" mat-button (click)="createDockerRegistry()">
      <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
        <mat-icon svgIcon="mdi:oci"></mat-icon>
        <span>{{'components.dockerRegistry.createDockerRegistry' | translate}}</span>
      </span>
    </button>
    <span *ngIf="!mayCreateDockerRegistry()" class="place-holder"></span>
    <mat-paginator [length]="registryTable.sortedRegistries.length"
                   [pageSize]="pageSettings.pageSize"
                   [pageSizeOptions]="pageSettings.pageSizeOptions"
                   (page)="registryTable.paginationEvent($event)"></mat-paginator>
  </div>

  <table matSort (matSortChange)="registryTable.sortRegistries($event)">
    <tr>
      <th mat-sort-header="name">{{'general.name' | translate}}</th>
      <th mat-sort-header="registryUrl">{{'general.url' | translate}}</th>
      <th></th>
    </tr>
    <tr *ngFor="let dockerRegistry of registryTable.sortedRegistries">
      <td>{{dockerRegistry.name}}</td>
      <td><div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px"><mat-icon [matTooltip]="(dockerRegistry.trustInsecureCertificate ? 'components.dockerRegistry.trustsInsecureCertificates' : 'components.dockerRegistry.doesNotTrustInsecureCertificates') | translate" class="shield-icon" [svgIcon]="dockerRegistry.trustInsecureCertificate ? 'mdi:shield-alert' : 'mdi:shield-check'" [class.insecure]="dockerRegistry.trustInsecureCertificate"></mat-icon><span>{{dockerRegistry.registryUrl}}</span></div></td>
      <td>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button *ngIf="mayShowDockerRegistryDetails()" mat-icon-button (click)="showDockerRegistryDetails(dockerRegistry)" [matTooltip]="'general.viewDetails' | translate">
            <mat-icon svgIcon="mdi:information-outline"></mat-icon>
          </button>
          <button *ngIf="mayEditDockerRegistry()" mat-icon-button (click)="editDockerRegistry(dockerRegistry)" [matTooltip]="'general.edit' | translate">
            <mat-icon svgIcon="mdi:pencil"></mat-icon>
          </button>
          <button *ngIf="mayDeleteDockerRegistry()" mat-icon-button (click)="deleteDockerRegistry(dockerRegistry)" [matTooltip]="'general.delete' | translate">
            <mat-icon svgIcon="mdi:delete"></mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
