<h2 mat-dialog-title>{{'components.namespace.deleteDialog.deleteNamespace' | translate: {namespace: namespace.name} }}</h2>
<mat-dialog-content>
  <div>
    <h3>{{'components.namespace.deleteDialog.disclaimer' | translate}}</h3>
    <div [innerHTML]="'components.namespace.deleteDialog.description' | translate: {namespace: namespace.name}"></div>
  </div>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="confirmedName" autocomplete="off" required name="name" id="name" [placeholder]="'components.forms.confirmName' | translate">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button (click)="confirm()" [disabled]="confirmedName !== namespace.name">{{'general.delete' | translate}}</button>
  <button mat-button (click)="deny()">{{'general.cancel' | translate}}</button>
</mat-dialog-actions>

