@use '~@angular/material' as mat;
@import "src/styles/mixins";

@mixin project-list-theme($theme) {
  $foreground: map-get($theme, foreground);
  project-list {
    tr.orphaned {
      td {
        background-color: rgba(mat.get-color-from-palette($foreground, text), 0.1);
      }

      &:last-child td {
        &:first-child {
          border-bottom-left-radius: $mat-radius;
        }

        &:last-child {
          border-bottom-right-radius: $mat-radius;
        }
      }
    }
  }
}
