@import "src/styles/mixins";

.deployment-status {
  position: relative;

  .pending {
    $diameter: 18px;
  }

  .icon-container {
    position: relative;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 2px;
    @include mat-elevation(2);
    padding: 3px;

    .outdated-icon {
      border-radius: 50%;
      padding: 2px;
      @include mat-elevation(1);
      @include mat-icon-size(16px);
      position: absolute;
      bottom: -8px;
      right: -12px;
    }
  }

}
