@import "../../../mixins";
.docker-registries {

  table {
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: $mat-radius;
    width: 100%;

    @include mat-elevation(6);

    tr {
      th {
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.85em;
        font-weight: 500;
        height: 4em;
        padding: 0 24px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        .mat-sort-header-container {
          align-items: center;
          .mat-sort-header-indicator {
            margin-top: 1em;
          }
        }
      }
      td {
        padding: 0 24px;
        height: 48px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);

        .shield-icon {
          color: #60c54e;
          &.insecure {
            color: #ffcf00;
          }
        }
      }
    }
  }
  .mat-paginator {
    background: transparent;
  }
}
