<div class="user-edit-dialog">
  <h1 mat-dialog-title>{{ 'components.user.editDialog.title' | translate: {action: isNewUser ? 'create' : 'edit'} }}</h1>
  <div mat-dialog-content="">
    <div>
      <form fxLayout="column" #userForm="ngForm" fxLayoutGap="1em">
        <div fxLayout="row" fxLayoutGap="1em">
          <mat-form-field>
            <input type="text" matInput [usernameAvailable]="originalUser ? originalUser.username : null" [(ngModel)]="user.username" autocomplete="off" required name="username" id="username"
                   [placeholder]="'components.user.editDialog.username' | translate" #username="ngModel">
            <mat-hint *ngIf="!isNewUser && editingUser && editingUser.username === originalUser.username && originalUser.username !== user.username">{{ 'components.user.editDialog.changeUsernameWarning' | translate }}</mat-hint>
            <mat-error *ngIf="username.invalid && username.errors.required">{{ 'components.user.editDialog.usernameRequired' | translate }}</mat-error>
            <mat-error *ngIf="username.invalid && username.errors.usernameAvailable">{{ 'components.user.editDialog.usernameUnavailable' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select #role="ngModel" required [disabled]="!canChangeRole" [placeholder]="'components.user.editDialog.role' | translate" [(ngModel)]="user.role" name="role" id="role">
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="role.invalid && role.errors.required">{{ 'components.user.editDialog.roleRequired' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input type="email" #email="ngModel" email [emailAvailable]="originalUser ? originalUser.email : null" matInput [(ngModel)]="user.email" required name="email" id="email" [placeholder]="'components.user.editDialog.email' | translate">
          <mat-error *ngIf="email.invalid && email.errors.required">{{ 'components.user.editDialog.emailRequired' | translate}}</mat-error>
          <mat-error *ngIf="email.invalid && email.errors.email && !email.errors.required">{{ 'components.user.editDialog.enterValidMail' | translate}}</mat-error>
          <mat-error *ngIf="email.invalid && email.errors.emailAvailable">{{ 'components.user.editDialog.emailUnavailable' | translate }}</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="1em">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="user.firstName" autocomplete="off" name="firstName" id="firstName"
                   [placeholder]="'components.user.editDialog.firstName' | translate">
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="user.lastName" autocomplete="off" name="lastName" id="lastName"
                   [placeholder]="'components.user.editDialog.lastName' | translate">
          </mat-form-field>
        </div>
        <div *ngIf="passwordFieldsVisible" fxLayout="row" fxLayoutGap="1em">
          <mat-form-field>
            <input type="password" matInput #password="ngModel" [(ngModel)]="user.password" [required]="isNewUser" name="password" id="password" [placeholder]="'components.user.editDialog.password' | translate">
            <mat-error *ngIf="password.invalid && password.errors.required">{{ 'components.user.editDialog.passwordIsRequired' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input #verify_password="ngModel" type="password" matInput [mustMatch]="user.password" [required]="isNewUser" [(ngModel)]="passwordVerification" name="verify_password" id="verify_password" placeholder="Repeat Password">
            <mat-error *ngIf="verify_password.invalid && verify_password.errors.required">{{ 'components.user.editDialog.verifyPassword' | translate }}</mat-error>
            <mat-error *ngIf="verify_password.invalid && verify_password.errors.mustMatch">{{ 'components.user.editDialog.passwordsMustMatch' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="!passwordFieldsVisible">
          <button mat-button color="primary" (click)="passwordFieldsVisible = true;">
            <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.3em">
              <mat-icon svgIcon="mdi:lock-reset"></mat-icon>
              <span>{{ 'components.user.editDialog.changePassword' | translate }}</span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="space-between center">
    <button mat-button [disabled]="userForm.form.invalid" color="primary" (click)="close()">{{ 'general.save' | translate }}</button>
    <button mat-button (click)="cancel()">{{ 'general.cancel' | translate }}</button>
  </div>
</div>
