<div class="deployment-behaviour-input" fxLayout="column">
  <mat-form-field>
    <mat-select #deploymentBehaviour="ngModel" [required]="!required" [placeholder]="'components.forms.deploymentBehaviourInput.deploymentBehaviour' | translate" [(ngModel)]="model.deploymentBehaviour" name="deploymentBehaviour" id="deploymentBehaviour" [disabled]="readonly">
      <mat-option value="automatically">{{'components.forms.deploymentBehaviourInput.automatically' | translate}}</mat-option>
      <mat-option value="manually">{{'components.forms.deploymentBehaviourInput.manually' | translate}}</mat-option>
    </mat-select>
    <mat-error *ngIf="deploymentBehaviour.invalid && required">{{'components.forms.deploymentBehaviourInput.required' | translate}}</mat-error>
  </mat-form-field>
</div>
