<div class="docker-registry-edit-dialog">
  <h1 mat-dialog-title>{{dockerRegistry.isNew() ? 'Create Docker Registry' : 'Edit Docker Registry'}}</h1>
  <div mat-dialog-content="">
    <div>
      <form fxLayout="column" #dockerRegistryForm="ngForm" fxLayoutGap="1em">
        <div fxLayout="row" fxLayoutGap="1em">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="dockerRegistry.name" autocomplete="off" required name="name" id="name"
                   placeholder="Name" #name="ngModel" [disabled]="isReadonly()">
            <mat-error *ngIf="name.invalid && name.errors.required">A name is required.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="dockerRegistry.registryUrl" autocomplete="off" required name="url" id="url"
                   placeholder="Registry URL" #url="ngModel" [disabled]="isReadonly()">
            <mat-error *ngIf="url.invalid && url.errors.required">A URL is required.</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-checkbox [checked]="dockerRegistry.trustInsecureCertificate" (change)="dockerRegistry.trustInsecureCertificate = $event.checked">Trust insecure certificates</mat-checkbox>
          <mat-hint>You should not check this if you are running O-Neko in production. Make sure to install valid and trusted certificates in your registry instead. You also have to make sure that your Kubernetes cluster trusts your registry. Otherwise even setting this option will not help you.</mat-hint>
        </div>
        <div fxLayout="row" fxLayoutGap="1em">
          <mat-form-field>
            <input type="text" #userName="ngModel" matInput [(ngModel)]="dockerRegistry.userName" name="userName" id="userName" placeholder="User name" [disabled]="isReadonly()">
          </mat-form-field>
        </div>
        <div *ngIf="passwordFieldsVisible && !isReadonly()" fxLayout="row" fxLayoutGap="1em">
          <mat-form-field>
            <input type="password" matInput #password="ngModel" [(ngModel)]="newPassword" name="password" id="password" placeholder="Password">
          </mat-form-field>
          <mat-form-field>
            <input #verify_password="ngModel" type="password" matInput [mustMatch]="newPassword" [(ngModel)]="passwordVerification" name="verify_password" id="verify_password" placeholder="Repeat Password">
            <mat-error *ngIf="verify_password.invalid && verify_password.errors.mustMatch">The passwords must match.</mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="!passwordFieldsVisible && !isReadonly()">
          <button mat-button color="primary" (click)="passwordFieldsVisible = true;">
            <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.3em">
              <mat-icon svgIcon="mdi:lock-reset"></mat-icon>
              <span>Change password</span>
            </span>
          </button>
        </div>

      </form>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="space-between center">
    <button *ngIf="!isReadonly()" mat-button [disabled]="dockerRegistryForm.form.invalid" color="primary" (click)="save()">Save</button>
    <button *ngIf="!isReadonly()" mat-button (click)="cancel()">Cancel</button>
    <button *ngIf="isReadonly()" mat-button (click)="cancel()">Close</button>
  </div>
</div>
