<div class="user-list table-page main-content-padding" fxLayout="column">
  <h2 fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
    <mat-icon svgIcon="supervised-user-circle"></mat-icon>
    <span>{{ 'components.user.list.userManagement' | translate }}</span>
  </h2>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="createUser()">
      <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
        <mat-icon svgIcon="mdi:account-plus"></mat-icon>
        <span>{{ 'components.user.list.createUser' | translate }}</span>
      </span>
    </button>
    <mat-form-field>
      <mat-select [placeholder]="'components.user.list.columns' | translate" multiple [(ngModel)]="selectedColumns">
        <mat-option *ngFor="let col of columns" [value]="col.value">{{col.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-paginator [length]="users.length"
                   [pageSize]="pageSettings.pageSize"
                   [pageSizeOptions]="pageSettings.pageSizeOptions"
                   (page)="paginationEvent($event)"></mat-paginator>
  </div>

  <table matSort (matSortChange)="sortUsers($event)">
    <tr>
      <th mat-sort-header="username" *ngIf="columnActive('username')">{{ 'components.user.list.username' | translate }}</th>
      <th mat-sort-header="email" *ngIf="columnActive('email')">{{ 'components.user.list.email' | translate }}</th>
      <th mat-sort-header="firstName" *ngIf="columnActive('firstName')">{{ 'components.user.list.firstName' | translate }}</th>
      <th mat-sort-header="lastName" *ngIf="columnActive('lastName')">{{ 'components.user.list.lastName' | translate }}</th>
      <th mat-sort-header="role" *ngIf="columnActive('role')">{{ 'components.user.list.role' | translate }}</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of sortedUsers">
      <td *ngIf="columnActive('username')">{{user.username}}</td>
      <td *ngIf="columnActive('email')">{{user.email}}</td>
      <td *ngIf="columnActive('firstName')">{{user.firstName}}</td>
      <td *ngIf="columnActive('lastName')">{{user.lastName}}</td>
      <td *ngIf="columnActive('role')">{{user.role}}</td>
      <td>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-icon-button (click)="editUser(user)" [matTooltip]="'general.edit' | translate">
            <mat-icon svgIcon="mdi:pencil"></mat-icon>
          </button>
          <button mat-icon-button (click)="deleteUser(user)" [matTooltip]="'general.delete' | translate">
            <mat-icon svgIcon="mdi:delete"></mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
