<div class="image-upload-container" *ngIf="displayType === 'button'">
  <button mat-flat-button color="primary" mat-button class="image-upload" (click)="imageFileInput.click()" [disabled]="disabled">
    {{label}}
  </button>
</div>

<div class="image-upload-container-full-width"
     (click)="!disabled && imageFileInput.click()"
     fxLayout="column"
     fxLayoutAlign="center center"
     onekoDnd
     (fileDropped)="filesSet({files: $event})"
     *ngIf="displayType === 'dnd'">
  <mat-icon svgIcon="mdi:upload"></mat-icon>
  <h2>Drag and drop file here</h2>
  <p>or</p>
  <button mat-flat-button color="primary" mat-button class="image-upload" [disabled]="disabled">
    {{label}}
  </button>
</div>

<button mat-menu-item [disabled]="disabled" *ngIf="displayType === 'menu-item'" (click)="!disabled && imageFileInput.click()">
  <mat-icon svgIcon="mdi:upload-outline"></mat-icon>
  <span>{{label}}</span>
</button>

<input hidden [multiple]="multiple" type="file" [accept]="accept" #imageFileInput (change)="filesSet(imageFileInput)" [disabled]="disabled">
