@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  src: local('Barlow Thin'), local('Barlow-Thin'), url(/assets/fonts/barlow/Barlow-Thin.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow-Thin.woff) format('woff'), url(/assets/fonts/barlow/Barlow-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  src: local('Barlow ExtraLight'), local('Barlow-ExtraLight'), url(/assets/fonts/barlow/Barlow-ExtraLight.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow-ExtraLight.woff) format('woff'), url(/assets/fonts/barlow/Barlow-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: local('Barlow Light'), local('Barlow-Light'), url(/assets/fonts/barlow/Barlow-Light.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow-Light.woff) format('woff'), url(/assets/fonts/barlow/Barlow-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/barlow/Barlow.eot);
  src: local('Barlow'), local('Barlow Regular'), local('Barlow-Regular'), url(/assets/fonts/barlow/Barlow.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/barlow/Barlow.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow.woff) format('woff'), url(/assets/fonts/barlow/Barlow.woff2) format('woff2'), url(/assets/fonts/barlow/Barlow.svg#Barlow) format('svg');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: local('Barlow Medium'), local('Barlow-Medium'), url(/assets/fonts/barlow/Barlow-Medium.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow-Medium.woff) format('woff'), url(/assets/fonts/barlow/Barlow-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: local('Barlow SemiBold'), local('Barlow-SemiBold'), url(/assets/fonts/barlow/Barlow-SemiBold.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow-SemiBold.woff) format('woff'), url(/assets/fonts/barlow/Barlow-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(/assets/fonts/barlow/Barlow-Bold.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow-Bold.woff) format('woff'), url(/assets/fonts/barlow/Barlow-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'), url(/assets/fonts/barlow/Barlow-ExtraBold.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow-ExtraBold.woff) format('woff'), url(/assets/fonts/barlow/Barlow-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: local('Barlow Black'), local('Barlow-Black'), url(/assets/fonts/barlow/Barlow-Black.ttf) format('truetype'), url(/assets/fonts/barlow/Barlow-Black.woff) format('woff'), url(/assets/fonts/barlow/Barlow-Black.woff2) format('woff2');
}
