@use '~@angular/material' as mat;
@import "../mixins";

@mixin create-dialog-theme($theme) {
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  .create-dialog {
    form {
      figure.warning {
        border-left: mat.get-color-from-palette($warn, 600) 2px solid;
        border-top-right-radius: $mat-radius;
        border-bottom-right-radius: $mat-radius;
        background-color: mat.get-color-from-palette($background, background, .5);
        figcaption {
          color: mat.get-color-from-palette($warn, 600);
        }
      }
    }
  }
}
