@use '@angular/material' as mat;
@import "../mixins";

@mixin full-page-form-theme($theme) {
  $background: map-get($theme, background);
  .full-page-form {
    background-color: mat.get-color-from-palette($background, card, 0.6);
    .form-field-group {
      background-color: mat.get-color-from-palette($background, card);
    }
  }
}
