@import "../mixins";

@mixin full-page-form-theme($theme) {
  $background: map-get($theme, background);
  .full-page-form {
    background-color: mat-color($background, card, .5);
    .form-field-group {
      background-color: mat-color($background, card, .5);
    }
  }
}
