@import "../mixins";

@mixin custom-mat-tooltip-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  .mat-tooltip {
    color: mat-color($foreground, tooltip) !important;
    background-color: rgba(mat-color($background, tooltip), 0.9) !important;
    backdrop-filter: blur(2px);
  }
}
