@use '@angular/material' as mat;
@import "../mixins";

@mixin table-page-theme($theme) {
  .table-page {
    $foreground: map-get($theme, foreground);
    table {
      tr {
        td {
          mat-icon {
            &.yellow {
              color: rgb(249, 208, 48);
            }
            &.red {
              color: mat.get-color-from-palette($red-palette, 500);
            }
            &.green {
              color: mat.get-color-from-palette($green-palette, 500);
            }
            &.blue {
              color: mat.get-color-from-palette($blue-palette, 500);
            }
          }
        }
        &:not(:last-of-type) {
          th {
            border-bottom: 1px solid rgba(mat.get-color-from-palette($foreground, text), .12);
          }
          td {
            border-bottom: 1px solid rgba(mat.get-color-from-palette($foreground, text), .12);
          }
        }
      }
    }
    .mat-paginator {
      background: transparent;
    }
  }
}
