<div fxLayout="row" fxLayoutAlign="space-between center">
  <h4>{{label}}</h4>
  <div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div *ngIf="!currentTemplateModel" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon svgIcon="mdi:information" color="primary"></mat-icon>
        <span class="create-template-info">{{'components.templateEditor.createTemplateHelpInfo' | translate}}</span>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'general.options' | translate">
        <mat-icon svgIcon="mdi:dots-vertical"></mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="readonly" (click)="openEditConfigurationTemplateDialog(currentTemplateModel)">
        <mat-icon svgIcon="mdi:pencil"></mat-icon>
        <span>{{'general.rename' | translate}}</span>
      </button>
      <hr />
      <button mat-menu-item [disabled]="readonly" (click)="onAddNewTemplate()">
        <mat-icon svgIcon="mdi:plus"></mat-icon>
        <span>{{'components.templateEditor.createNewTemplate' | translate}}</span>
      </button>
      <file-upload [multiple]="true" (filesCallback)="onConfigUpload($event)" displayType="menu-item" [label]="'components.templateEditor.uploadYaml' | translate" [disabled]="readonly"></file-upload>
      <button mat-menu-item (click)="onDownloadCurrentFile(currentTemplateModel)">
        <mat-icon svgIcon="mdi:download"></mat-icon>
        <span>{{'components.templateEditor.downloadCurrentFile' | translate}}</span>
      </button>
    </mat-menu>
  </div>
</div>

<div *ngIf="readonly && currentTemplateModel?.description">
  <span class="mat-caption">{{currentTemplateModel.description}}</span>
</div>

<div class="box" *ngIf="currentTemplateModel && !currentTemplateModel.isOriginal()">
  <em *ngIf="!currentTemplateModel?.isOverwriting()" class="mat-caption italic">{{'components.templateEditor.thisIsAnInheritedConfiguration' | translate}}</em>
  <em *ngIf="currentTemplateModel?.isOverwriting()" class="mat-caption italic">{{'components.templateEditor.overwritesInheritedConfiguration' | translate}}</em>
</div>

<div class="template-editor-wrapper" *ngIf="currentTemplateModel; else noTemplatesAvailable">
  <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)" animationDuration="0ms">

    <!-- Default Templates -->
    <mat-tab [label]="template.name" *ngFor="let template of configurationTemplatesModels; let i = index">
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="template.isOriginal() ? 'mdi:file' : 'mdi:file-document'"></mat-icon>
        <span>{{template.name}}</span>
        <button *ngIf="template.isOriginal() && !readonly" mat-icon-button (click)="removeTemplateWithConfirmation(template)"><mat-icon svgIcon="mdi:close"></mat-icon></button>
        <button *ngIf="template.isOverwriting() && !readonly" mat-icon-button (click)="useDefaultProjectConfigurationTemplate(template)"><mat-icon svgIcon="mdi:undo-variant"></mat-icon></button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="helm-chart-controls" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    <mat-form-field>
      <mat-label>{{'components.templateEditor.chartRegistry' | translate}}</mat-label>
      <mat-select required [(ngModel)]="currentTemplateModel.effectiveTemplate.helmRegistryId" (ngModelChange)="helmChartSettingsChanged()">
        <mat-option *ngFor="let registry of (chartRegistries | async)" [value]="registry.id">{{ registry.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'components.templateEditor.chartName' | translate}}</mat-label>
      <mat-select [disabled]="!currentTemplateModel.effectiveTemplate.helmRegistryId" required [(ngModel)]="currentTemplateModel.effectiveTemplate.chartName" (ngModelChange)="helmChartSettingsChanged()">
        <mat-option *ngFor="let chartName of currentHelmChartNames" [value]="chartName">{{ removeRegistryPart(chartName) }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'components.templateEditor.chartVersionPlaceholder' | translate}}</mat-label>
      <mat-select [disabled]="!currentTemplateModel.effectiveTemplate.chartName" [(ngModel)]="currentTemplateModel.effectiveTemplate.chartVersion" (ngModelChange)="helmChartSettingsChanged()">
        <mat-option [value]="undefined">latest</mat-option>
        <mat-option *ngFor="let chartVersion of currentHelmChartVersions" [value]="chartVersion.version">{{ chartVersion.version }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="code-editor-wrapper" *ngIf="currentTemplateModel">
    <ngx-monaco-editor class="code-editor" [options]="editorOptions" [ngModel]="currentTemplateModel.effectiveTemplate.content" (ngModelChange)="onTextOverwrite($event, currentTemplateModel)"></ngx-monaco-editor>
  </div>
</div>

<ng-template #noTemplatesAvailable>
  <span><i>{{'components.templateEditor.noTemplatesAvailable' | translate}}</i></span>
</ng-template>
