<div fxLayout="row" fxLayoutAlign="space-between center">
  <h4>{{label}}</h4>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
      <mat-icon svgIcon="dots-vertical"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="readonly" (click)="openEditConfigurationTemplateDialog(currentTemplateModel)">
        <mat-icon svgIcon="pencil-outline"></mat-icon>
        <span>Rename</span>
      </button>
      <hr />
      <button mat-menu-item [disabled]="readonly" (click)="onAddNewTemplate()">
        <mat-icon svgIcon="plus-outline"></mat-icon>
        <span>Create new template</span>
      </button>
      <file-upload [multiple]="true" (filesCallback)="onConfigUpload($event)" displayType="menu-item" label="Upload YAML file" [disabled]="readonly"></file-upload>
      <hr />
      <button mat-menu-item>
        <mat-icon svgIcon="download-outline"></mat-icon>
        <span>Download current file</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="download-outline"></mat-icon>
        <span>Download all files (.zip)</span>
      </button>
    </mat-menu>

  </div>
</div>

<div *ngIf="readonly && currentTemplateModel.description">
  <span class="mat-caption">{{currentTemplateModel.description}}</span>
</div>

<div class="box" *ngIf="!currentTemplateModel.isOriginal()">
  <i *ngIf="!currentTemplateModel.isOverwriting()" class="mat-caption italic">This is an inherited configuration.</i>
  <i *ngIf="currentTemplateModel.isOverwriting()" class="mat-caption italic">This overwrites an inherited configuration.</i>
</div>

<div class="template-editor-wrapper">
  <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)" animationDuration="0ms">

    <!-- Default Templates -->
    <mat-tab [label]="template.name" *ngFor="let template of configurationTemplatesModels; let i = index">
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="template.isOriginal() ? 'mdi:file-outline' : 'mdi:file-document-outline'"></mat-icon>
        <span>{{template.name}}</span>
        <button *ngIf="template.isOriginal() && !readonly" mat-icon-button (click)="removeTemplateWithConfirmation(template)"><mat-icon svgIcon="mdi:close"></mat-icon></button>
        <button *ngIf="template.isOverwriting() && !readonly" mat-icon-button (click)="useDefaultProjectConfigurationTemplate(template)"><mat-icon svgIcon="mdi:undo-variant"></mat-icon></button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="code-editor-wrapper" *ngIf="currentTemplateModel">
    <ngx-monaco-editor class="code-editor" [options]="editorOptions" [ngModel]="currentTemplateModel.effectiveTemplate.content" (ngModelChange)="onTextOverwrite($event, currentTemplateModel)"></ngx-monaco-editor>
  </div>
</div>
