@import "../../../mixins.scss";

.template-editor-wrapper {
  mat-form-field.box {
    width: 200px;
  }

  label {
    float: right;
  }

  .file-metadata {
    margin: 8px;
  }

  .code-editor-wrapper {
    $editor-height: 500px;
    height: $editor-height;

    .code-editor {
      .editor-container {
        height: $editor-height;
      }
    }
  }
}
