@import "styles/themes";
@import "styles/mixins";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  .main-content-padding {
    padding: 1em;
  }
}

a,
a:hover {
  text-decoration: none;
}
*:focus {
  outline: none;
}

img {
  border: 0;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  vertical-align: middle;
}

$full-page-form-full-padding: 2em;
$full-page-form-slim-padding: 1em;

.full-page-form {
  border-radius: $mat-radius;
  padding: $full-page-form-slim-padding $full-page-form-full-padding;
  margin: $full-page-form-slim-padding 0;
  max-width: 1500px;
  box-sizing: border-box;
  @include mat-elevation(3);

  .form-field-group {
    padding: $full-page-form-slim-padding;
    border-radius: $mat-radius;
    @include mat-elevation(2);
  }
  .bottom-toolbar {
    margin-top: 1em;
  }
}

.o-neko-internal-link {
  text-decoration: none;
  background-color: transparent;
}

.mat-tooltip {
  font-size: 12px !important;
  font-weight: 400 !important;
}
