@use '~@angular/material' as mat;
@import "src/styles/mixins";

@mixin activity-log-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  activity-log {
    .activity-log-results {
      .item-date {
        color: mat.get-color-from-palette($foreground, text, 0.7);
      }

      .mat-list-item {
        &:not(:last-of-type) {
          border-bottom: 1px solid mat.get-color-from-palette($foreground, text, 0.1);
        }
      }
    }
  }
}
