@import "src/styles/mixins";

.activity-log {
  max-width: 100%;

  .activity-log-results {
    padding-top: 0;
    width: 100%;

    .mat-line {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 0.9em;

      mat-icon {
        @include mat-icon-size(22px);
      }
    }

    mat-chip {
      min-height: 18px;
      font-size: 0.75rem;
    }

    .item-date {
      font-size: 0.75rem;

    }
  }
}
