<div class="activity-log">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="refresh()" [disabled]="!hasPendingActivities">
      <mat-icon svgIcon="refresh"></mat-icon>
      {{'components.activityLog.newActivities' | translate:{count:pendingActivities.length} }}
    </button>

    <mat-paginator [length]="total"
                   [pageSize]="pageSettings.pageSize"
                   [pageSizeOptions]="pageSettings.pageSizeOptions"
                   [pageIndex]="pageSettings.pageIndex"
                   (page)="paginationEvent($event)"></mat-paginator>
  </div>

  <mat-list class="activity-log-results">
    <mat-list-item *ngFor="let activity of activities" class="activity-item">
      <mat-icon class="trigger-icon" mat-list-icon [svgIcon]="'mdi:' + getIcon(activity)" [matTooltip]="activity.triggerName" matTooltipShowDelay="500"></mat-icon>
      <a mat-icon-button *ngIf="activity.entityType === 'Project'" [href]="'/projects/' + activity.entityId" target="_blank" [matTooltip]="'components.activityLog.openEntity' | translate: {entity: activity.entityName}" matTooltipShowDelay="500"><mat-icon mat-list-icon svgIcon="mdi:open-in-new"></mat-icon></a>
      <a mat-icon-button *ngIf="activity.entityType === 'User'" href="/users" target="_blank" [matTooltip]="'components.activityLog.openUsersPage' | translate" matTooltipShowDelay="500"><mat-icon mat-list-icon svgIcon="mdi:open-in-new"></mat-icon></a>
      <a mat-icon-button *ngIf="activity.entityType === 'DockerRegistry'" href="/docker-registries" target="_blank" [matTooltip]="'components.activityLog.openDockerRegistryPage' | translate" matTooltipShowDelay="500"><mat-icon mat-list-icon svgIcon="mdi:open-in-new"></mat-icon></a>
      <a mat-icon-button *ngIf="activity.entityType === 'Namespace'" href="/namespaces" target="_blank" [matTooltip]="'components.activityLog.openNamespacesPage' | translate" matTooltipShowDelay="500"><mat-icon mat-list-icon svgIcon="mdi:open-in-new"></mat-icon></a>
      <h4 mat-line [matTooltip]="activity.description" matTooltipShowDelay="500">{{activity.description}}</h4>
      <p mat-line class="item-date">{{activity.formattedDate }}</p>
      <p mat-line *ngIf="activity.changedProperties" >
        <mat-chip-list>
          <mat-chip color="accent" *ngFor="let property of activity.changedProperties" matTooltip="Changed Property" matTooltipShowDelay="500">{{property}}</mat-chip>
        </mat-chip-list>
      </p>
    </mat-list-item>
  </mat-list>
</div>
