@import "src/styles/mixins";

.login {
  .o-neko-logo {
    z-index: 1000;
    img {
      max-width: 280px;
      display: block;
      margin: 4em auto 2em;
      transition: all ease 0.8s;
      filter: drop-shadow(1px 2px 2px rgba(0,0,0,.36));
    }
    &.rotate {
      img {
        transform: scale(2);
      }
    }
  }
  .login-form {
    h1 {
      text-align: center;
      font-weight: 500;
      font-family: "Varela Round", sans-serif;
      color: #ffffff;
      font-size: 36px;
      mix-blend-mode: overlay;
    }
    background: linear-gradient(225deg, rgba(204,29,62,1) 0%, rgba(255,95,20,1) 100%);
    border-radius: $mat-radius * 2;
    padding: 2em;
    min-width: 280px;
    @include mat-elevation(4);
    button {
      color: mat-color($o-neko-primary);
    }


    mat-form-field {
      .mat-form-field-outline {
        background: white !important;
        border-radius: 5px;
      }
    }
  }
}
