@import "src/styles/mixins";

.mesh-dashboard {
  margin: 0 5px 45px;
}

.meshes-selected {
  .mesh-header {
    margin: 15px 0;
    border-top-right-radius: $mat-radius;
    border-top-left-radius: $mat-radius;

    .project-mesh-actions {
      margin: 0;
    }

    .tool-container {
      border-top-right-radius: $mat-radius;
    }

    .settings-link {
      margin: 0 4px;
    }

    .components-link {
      width: 100%;
    }
  }

  div[mat-list-item] {
    > div {
      padding: 6px;
      border-radius: $mat-radius;

      a {
        text-decoration: none;
        transition: background 0.05s ease;
      }

      h4, p {
        margin: 0;
      }
    }
  }
  span[mat-list-item] {
    margin: 1em;
  }
}
