<div *ngIf="meshes.length > 0" class="mesh-dashboard" fxLayout="column">
  <div class="mesh-selection" fxLayout="row" fxLayoutAlign="space-between center">
    <h4>Project Meshes</h4>
    <mat-form-field *ngIf="meshes.length > 1">
      <mat-select placeholder="Project Meshes" multiple [(ngModel)]="currentlyShownMeshes">
        <mat-option *ngFor="let mesh of meshes" [value]="mesh.id">{{mesh.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="meshes.length === 0">There are currently no project meshes</p>
  </div>
  <div class="meshes-selected" *ngIf="meshes.length > 0">
    <mat-list dense>
      <ng-container *ngFor="let mesh of selectedMeshes">
        <div class="mesh-header" fxLayout="row" fxLayoutAlign="start center">
          <a mat-subheader matRipple class="o-neko-internal-link components-link" [routerLink]="'/project-meshes/' + mesh.id + '/components'">{{mesh.name}}</a>
          <span class="project-mesh-actions">
            <project-mesh-actions [mesh]="mesh" [hideIcons]="false" [hideText]="false"></project-mesh-actions>
          </span>
          <div class="tool-container" fxLayout="row">
            <a mat-icon-button class="settings-link" [routerLink]="'/project-meshes/' + mesh.id">
              <mat-icon svgIcon="tune"></mat-icon>
            </a>
          </div>
        </div>

        <div mat-list-item
             matRipple
             [matRippleTrigger]="rippleTrigger"
             *ngFor="let component of mesh.components; let lastComponent = last">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
            <deployableStatus [status]="component.deployment.status" [outdated]="component.outdated" matListIcon></deployableStatus>
            <a fxFlex #rippleTrigger [routerLink]="'/project-meshes/' + mesh.id + '/components/'">
              <h4 mat-line>{{component.name}}</h4>
              <p mat-line> {{component.deployment.formattedTimestamp}}</p>
            </a>
            <a mat-icon-button *ngIf="component.urls.length === 1" [href]="'https://'+ component.urls[0]" [matTooltip]="'https://'+ component.urls[0]" target="_blank" referrerpolicy="no-referrer">
              <mat-icon svgIcon="open-in-new"></mat-icon>
            </a>
            <button mat-icon-button *ngIf="component.urls.length > 1" [matMenuTriggerFor]="urlMenu">
              <mat-icon svgIcon="open-in-new"></mat-icon>
              <mat-menu #urlMenu="matMenu">
                <a mat-menu-item *ngFor="let url of component.urls" [href]="'https://'+ url" target="_blank" referrerpolicy="no-referrer">{{'https://' + url}}</a>
              </mat-menu>
            </button>
            <mesh-component-actions [meshComponent]="component" [projectMesh]="mesh" [hideText]="true" [hideIcons]="false"></mesh-component-actions>
          </div>
          <mat-divider *ngIf="!lastComponent"></mat-divider>
        </div>
        <span mat-list-item *ngIf="getDeployedComponentsOfMesh(mesh).length === 0">
          <strong>{{mesh.name}}</strong> has no deployed components.
        </span>
      </ng-container>
    </mat-list>
  </div>
</div>

