@use '@angular/material' as mat;
@import '../../../styles/mixins';

@mixin footer-theme($theme) {
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  on-footer {
    footer {
      background-color: mat.get-color-from-palette($background, card);
      .powered-by {
        span {
          $c1: mat.get-color-from-palette($primary, 700);
          $c2: mat.get-color-from-palette($accent, 900);
          @include text-gradient($c1, $c2);
        }
      }
    }
  }
}
