@import '../../../styles/mixins';

:host {
  width: 100%;
  position: relative;

  footer {
    padding: 8px;

    .powered-by {
      span {
        font-family: "Varela Round", sans-serif;
        font-size: 1.4em;
      }
      img {
        height: 2rem;
      }
    }
  }
}
