<h2 mat-dialog-title>{{'Delete ' + registry.name + '?'}}</h2>
<mat-dialog-content>
  <div *ngIf="projectNames.length > 0">
    <h3>{{'general.warning' | translate}}</h3>
    <p [innerHTML]="'components.dockerRegistry.deletionDialog.registryIsUsedByProject' | translate: {registry: registry.name}"></p>
    <ul>
      <li *ngFor="let projectName of projectNames">{{projectName}}</li>
    </ul>
    <div [innerHTML]="'components.' + translationId + '.deletionDialog.usedRegistryWarningText' | translate"></div>
  </div>
  <p>{{ 'components.' + translationId + '.deletionDialog.confirmDeletionText' | translate }}</p>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="confirmedName" autocomplete="off" required name="name" id="name" [placeholder]="'components.' + translationId + '.deletionDialog.confirmName' | translate" #name="ngModel">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button (click)="confirm()" [disabled]="confirmedName !== registry.name">{{'general.delete' | translate}}</button>
  <button mat-button (click)="deny()">{{'general.cancel' | translate}}</button>
</mat-dialog-actions>

